<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
  <header>
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Project 2025 Assistant Logo" style="max-width: 200px; display: block; margin: 0 auto;">
    </a>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/toc.html">Table of Contents</a></li>
        <li><a href="{{ site.baseurl }}/faq.html">FAQs</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2 class="content-title">{{ page.title }}</h2>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>

    <!-- StatCounter Code START -->
    <!-- Replace the below code with the one you copied from StatCounter -->
    <script type="text/javascript">
    var sc_project=1234567; 
    var sc_invisible=0; 
    var sc_security="your_security_code"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="Web Analytics Made Easy - StatCounter" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/1234567/0/your_security_code/0/" alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
    <!-- StatCounter Code END -->

  </footer>
</body>
</html>
