<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
  <header>
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Project 2025 Assistant Logo" style="max-width: 200px; display: block; margin: 0 auto;">
    </a>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/toc.html">Table of Contents</a></li>
        <li><a href="{{ site.baseurl }}/faq.html">FAQs</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2 class="content-title">{{ page.title }}</h2>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>

  <!-- Default Statcounter code for Project 2025 Assistant -->
  <script type="text/javascript">
    var sc_project=13018037; 
    var sc_invisible=0; 
    var sc_security="d8d95d32"; 
    document.write("<sc"+"ript type='text/javascript' src='{{ site.baseurl }}/assets/js/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="https://statcounter.com/" target="_blank"><img class="statcounter"
  src="https://c.statcounter.com/13018037/0/d8d95d32/0/" alt="Web Analytics"
  referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
  <!-- End of Statcounter Code -->
</body>
</html>
