<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
<body>
  <header>
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Project 2025 Assistant Logo" style="max-width: 200px; display: block; margin: 0 auto;">
    </a>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/toc.html">Table of Contents</a></li>
        <li><a href="{{ site.baseurl }}/faq.html">FAQs</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2 class="content-title">{{ page.title }}</h2>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>

    <!-- Visitor Counter Code -->
    <a href='http://www.freevisitorcounters.com'>Free Counter</a>
    <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=f908caee5445c2bcb6781cef1cbf90b7eaa0eeb2'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1203252/t/5"></script>
    <!-- End of Visitor Counter Code -->

  </footer>
</body>
</html>
